= form_tag movies_path, :method => :get do
  - @all_ratings.each do |rating|
    %label.check-box{ class: @current_ratings.include?(rating) ? "highlighted" : nil }
      = check_box_tag "ratings[#{rating}]", nil, @current_ratings.include?(rating)
      = rating
  - if params.has_key?(:sort)
    = hidden_field_tag :sort, params[:sort]
%table#movies
  %thead
    %tr
      %th{ class: (params.has_key?(:sort) and params[:sort] == "title") ? "highlighted" : "" }
        = link_to "Movie Title", sort: "title", ratings: params[:ratings]
      %th{ class: (params.has_key?(:sort) and params[:sort] == "rating") ? "highlighted" : "" }
        = link_to "Rating", sort: "rating", ratings: params[:ratings]
      %th{ class: (params.has_key?(:sort) and params[:sort] == "release_date") ? "highlighted" : "" }
        = link_to "Release Date", sort: "release_date", ratings: params[:ratings]
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date.strftime "%e %b %Y"
        %td= link_to "More about #{movie.title}", movie_path(movie)
= link_to 'Add new movie', new_movie_path, class: "button"
